<h1>Signup page</h1>

<form action="/auth/signup" method="post" enctype="multipart/form-data">
    <input type="text" name="username" id="username" placeholder="Enter you username" required><br>
    <input type="password" name="password" id="password" placeholder="Enter your password" required><br>
    <input type="file" name="avatar" required/><br/>
    <input type="submit" value="Signup">
</form>