body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

li + li::before {
  content: " | ";
}

nav li form {
  display: inline-block;
}